.cont-full-pageContact{
    background-color: white;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.subtittle-Contact{
    background-color:transparent;
    float: left;
    width: 100%;
    font-family: "Cocogoose-Bold";
    font-size: 40px;
    color: #FF7EA5;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cont-pageContact{
    background-color: transparent;
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact{
    background-color: white;
    width: 100%;
    max-width: 700px;
    height: auto;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    border: black 2px solid;
}

.contact p{
    background-color: transparent;
    width: 100%;
    float: left;
    text-align: left;
    font-weight: 600;
    font-family: "Cocogoose-l";
    margin-top: 15px;
    color: black;
}

.contact input{
    width: 100%;
    height: 40px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    color: black;
    border: black 2px solid;
}

.contact textarea{
    width: 100%;
    float: left;
    min-height: 200px;
    resize: vertical;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    border: black 2px solid;
    margin-top: 15px;
}

.contact button{
    background-color: rgb(176,220,230);
    color: rgb(255,126,165);
    font-family: "Cocogoose-Bold";
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-style: none;
    border-radius: 0px;
    border: 2px rgb(255, 163, 212) solid;
}

.cont-full-question{
    background-color: transparent;
    width: 100%;
    height: auto;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cont-full-question h1{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    float: left;
    width: 100%;
    color: rgb(255,126,165);
    font-weight: 800;
}

.cont-full-question p{
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    float: left;
    width: 100%;
    text-align: center;
}




@media (max-width:710px){

    .cont-full-pageContact{
        background-color: white;
        padding-top: 72px;
        padding-bottom: 30px;
    }
    
    .subtittle-Contact{
        font-size: 30px;
    }

    .cont-pageContact{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .contact{
        padding-bottom: 20px;
    }

    .contact input{
        height: 30px;
    }

    .contact textarea{
        min-height: 100px;
    }

}
