.cont-full-home{
    background-color: white;
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 162px);
    float: left;
    filter: brightness(1.56);
    position: relative;
    z-index: 1;
    margin-top: 42px;
    animation: home 50s infinite ;
    animation-delay: 5s;
}


.cont-tittle-home{
    background-color: transparent;
    width: calc(100% - 80px);
    max-width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    animation: tittleHome 3s 1;
    position: absolute;
    left: 0;
    right: 0;
    top: calc( ( ( 100vh - 162px) /2 - 100px )) ;
    bottom: 0;
    margin: 0 auto;
    border: white 4px solid;
   /* backdrop-filter: blur(5px);*/
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cont-tittle-home p{
      display: block;
      font-size: 60px;
      font-family: "Cocogoose-Bold";
      color: black;
  }

.cont-full-art1{
      background-color: transparent;
      width: 100%;
      height: auto;
      float: left;
      overflow: hidden;
      position: relative;
      border-top: 8px rgb(249,206,216) solid;
      border-bottom: 8px rgb(249,206,216) solid;
  }

  .cont-art1{
    background-color: transparent;
    width: 25vw;
    max-width: 25%;
    height: 25vw;
    float: left;
    overflow: hidden;
  }

  .cont-art1 img{
      filter: hue-rotate(345deg) brightness(1);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }

  .cont-art1-tittle{
      background-color: transparent;
      float: left;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
  }

.cont-art1-tittle h1{
      color: black;
      text-shadow: 0px 0px 4px white;
      text-align: center;
      font-weight: 600;
      font-family: "Valentine";
      font-size: 80px;
  }

  @keyframes home{
    0%{
        background-image: url("../images/image1.jpg");
        background-position: center;
    }

    33%{
        background-image: url("../images/image2.jpg");
        background-position: top;
    }

    66%{
        background-image: url("../images/image3.jpg");
        background-position: top;
    }
  }
  
  @keyframes tittleHome{
    from{
        top: -362px;
    }

    to{
        top: calc( ( ( 100vh - 162px) /2 - 100px )) ;
    }
  }

 @media (max-width:900px){
    .cont-art1-tittle h1{
        font-size: 90px;
    }

    .cont-art1{
        width: 50vw;
        max-width: 50%;
        height: 50vw;
      }
  }

  @media (max-width:550px){
    .cont-art1-tittle h1{
        font-size: 60px;
    }
  }

  @media (max-width:380px){
    .cont-art1-tittle h1{
        font-size: 47px;
    }
  }

  @media (max-width:710px){

    .cont-tittle-home{
        top: calc( ( ( 100vh - 122px) /2 - 100px )) ;

    }

    .cont-tittle-home p{
        font-size: 40px;
    }

    .cont-full-home{
        height: calc(100vh - 122px);
    }
    
  }

  @media (max-width:400px){
    .cont-tittle-home p{
        font-size: 36px;
    }
  }

  @media (max-width:300px){
    .cont-tittle-home p{
        font-size: 30px;
    }
  }
