.cont-full-menu{
    background-color: #F9CED8;
    width: 100%;
    height: 120px;
    float: left;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.cont-full-menu p{
    font-size: 20px;
    font-family: "Cocogoose-Bold";
}

.cont-into-menu{
    background-color: transparent;
    width: auto;
    height: 100px;
    float: left;
}

.menu-logo{
    background-color: transparent;
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 100%;
    overflow: hidden;
}

.menu-logo:hover{
    cursor: pointer;
}

.menu-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cont-menu{
    background-color: transparent;
    width: 550px;
    height: 100%;
    float: left;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.menu{
    background-color: transparent;
    width: 150px;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
}

.menu:hover{
    cursor: pointer;
    border: 2px rgb(255,126,165) solid;
}

.menu:hover p{
    color: rgb(255,126,165);
}

.menu-selected{
    border: 2px rgb(255,126,165) solid;
}

.menu-selected-p{
    color: rgb(255,126,165);
}

.menu-NoSelected-p{
    color: white;
}


/* MIN MENU */
.cont-min-menu{
    background-color: transparent;
    width: 60px;
    height: 100%;
    float: right;
    margin-right: 10px;
    display: none;
}

.min-menu{
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
}

.min-menu:hover, .min-menu:active{
    border-color: rgb(255,126,165);
    cursor: pointer;
}

.min-menu:hover i, .min-menu:active i{
    color: rgb(255,126,165);
}

.min-menu i{
    font-size: 30px;
    color: white;
}

/* CONT FULL  MENU */
.cont-full-MinMenu{
    background-color: rgba(255, 255, 255, 0.575);
    width: 100%;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    right: 0px;
    z-index: 99;
    display: none;
}

.container-minMenu{
    background-color: #F9CED8;
    width: 100%;
    max-width: 450px;
    height: 100%;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.menuMin{
    background-color: transparent;
    width: 100%;
    height: auto;
    min-height: 60px;
    float: left;
    margin-top:15px ;
    border: 4px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuMin:hover{
    border-color: rgb(255,126,165);
}

.menuMin:hover p{
    color: rgb(255,126,165);
}

.menuMin:active{
    border-color: rgb(255,126,165);
}

.menuMin:active p{
    color: rgb(255,126,165);
}

.menuMin p{
    float: left;
    font-size: 20px;
    color: white;
    font-family: "Cocogoose-Bold";
}

@media (max-width:710px){
    .cont-full-menu{
        height: 80px;
        justify-content: right;
    }

    .cont-into-menu{
        width: calc(50% + 33px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .menu-logo{
        height: 66px;
        width: 66px;
    }

    .cont-menu{
        display: none;
    }

    .cont-min-menu{
        display: block;
    }
}

@media (min-width:710px){

    .cont-full-MinMenu{
        top: 120px;
        height: calc(100vh - 120px);
    }
}

